{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Company Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price (USD)</th>
                <th scope="col">Total Price (USD)</th>
                <th scope="col">Profit</th>
                <th scope="col" colspan="2">Action</th
            </tr>
        </thead>
        <tbody>
            {% for record in user_stock_info if record["symbol"] != "N/A" %}
                <tr>
                    <td> {{ record["symbol"] }}</td>
                    <td> {{ record["name"] }}</td>
                    <td> {{ record["total_shares"] }}</td>
                    <td> {{ usd(record["price"]) }}</td>
                    <td> {{ usd(record["total_shares"] * record["price"]) }}</td>
                    {% if lookup(record["symbol"])["price"] < record["price"] %}
                        <td><font color="red"> {{ percentage((((lookup(record["symbol"])["price"] * record["total_shares"]) -
                                 (record["price"] * record["total_shares"]))
                                 / (record["price"] * record["total_shares"])) * 100)}}
                        </td>
                    {% elif lookup(record["symbol"])["price"] > record["price"] %}
                        <td><font color="green"> +{{ percentage((((lookup(record["symbol"])["price"] * record["total_shares"]) -
                                 (record["price"] * record["total_shares"]))
                                 / (record["price"] * record["total_shares"])) * 100)}}
                        </font></td>
                    {% else %}
                        <td><font color="blue"> {{ percentage((((lookup(record["symbol"])["price"] * record["total_shares"]) -
                                 (record["price"] * record["total_shares"]))
                                 / (record["price"] * record["total_shares"])) * 100)}}
                        </td>
                    {% endif %}
                    <td> <button class="btn" type="submit">
                        <a href="{{ url_for('buy', buy_symbol=record["symbol"])}}">Buy</a>
                        </button>
                    </td>
                    <td> <button class="btn" type="submit">
                        <a href="{{ url_for('sell', sell_symbol=record["symbol"])}}">Sell</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            <tr class="bg-success">
                <th scope="row" colspan="4">Remaining Cash</th>
                <td>{{ user_cash }}</td>
            </tr>

            <tr class="bg-warning">
                <th scope="row" colspan="4">Total Balance</th>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
